.bg{
    background:url(../../../../public/assets/bg.jpg);
    filter: blur(5px);
    background-repeat: no-repeat;
	background-position: center;
    background-size: 100% 100%;
    background-size: cover;
    height: 100vh;
}
.register-error{
  font-size: 14px;
  color: #eb3b60;
  padding: 10px 0;
}
.register-photo {
  
    border: 5px solid rgb(248, 248, 248);
    border-radius: 6px;
    box-shadow: 19px 24px 46px -12px rgba(255, 255, 255, 0.45);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
  }
  .form-radio{
    color: #6d6d6d;
    font-size: 15px;
    text-align: left;
  }
  .form-check-radio{
    margin-right: 10px;
    text-align: left;
  }
  
   .image-holder {
    
    display:table-cell;
    width:60%;
    background:url(../../../../public/assets/pizza.jpg);
    background-size:cover;
  }
  
  .register-photo form {
    height: 620px;
  }
  .register-photo .form-container {
    display:table;
    max-width:900px;
    width:90%;
    margin:0 auto;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .register-photo form {
    display:table-cell;
    width:400px;
    background-color:#ffffff;
    padding:40px 60px;
    color:#505e6c;
  }
  
  @media (max-width:991px) {
    .register-photo form {
      padding:40px;
    }
  }
  
  .register-photo form h2 {
    font-size:24px;
    line-height:1.5;
    margin-bottom:20px;
  }
  
  .register-photo form .form-control {
    background:#f7f9fc;
    border:none;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:6px;
    height:40px;
  }
  
  .register-photo form .form-check {
    font-size:13px;
    line-height:20px;
  }
  
  .register-photo form .btn-primary {
    background:#f4476b;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:35px;
    text-shadow:none;
    outline:none !important;
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background:#eb3b60;
  }
  
  .register-photo form .btn-primary:active {
    transform:translateY(1px);
  }
  
  .register-photo form .already {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  